@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: scroll;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --fonte: 'Poppins', sans-serif;
}

#warning {
    width: 100vw;
    height: 5vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#warning_text {
    font-family: var(--fonte);
    font-size: 0.9em;
}

#warning_link {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
}

/*Header*/
header {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #8C52FF;
}

#header_text {
    color: white;
    font-family: var(--fonte);
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
}

main {
    width: 100vw;
    height: 80vh;
    display: flex;
}

/*Sidebar*/
#sidebar {
    min-width: 200px;
    height: 80vh;
    padding-top: 20px;
    background-color: #8C52FF;
}

#sidebar_text {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte);
    font-size: 1em;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px #3f2474;
}

ul {
    margin-top: 20px;
}

ul li {
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1.5px white;
}

ul li:hover{
    background-color: #3f2474;
}

.sidebar_content {
    text-decoration: none;
    font-family: var(--fonte);
    color: white;
    font-weight: 700;
}

.sidebar_picture_container {
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.sidebar_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sidebar_arrow {
    width: 20px;
    height: 20px;
    overflow: hidden;
    position: relative;
    left: 100%;
    top: -40%;
    display: none;
    cursor: pointer;
}

#sidebar_arrow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Content*/
#content_container {
    width: 100%;
    height: 80vh;
}

#welcome {
    width: 80%;
    height: fit-content;
    position: relative;
    top: 15%;
    left: 5%;
}

#welcome h2 {
    font-family: var(--fonte);
    color: #8C52FF;
    font-weight: 700;
}

#welcome p {
    font-family: var(--fonte);
    text-align: justify;
}

@media (max-width: 700px){
    #sidebar {
        transform: translateX(-100%);
        z-index: 1;
    }

    .sidebar_show {
        transform: translateX(0%);
    }

    #sidebar_arrow {
        display: block;
    }
    
    #sidebar_arrow img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #welcome {
        width: 450px;
        height: fit-content;
        position: relative;
        top: 15%;
        left: -40%;
    }

    #welcome h2 {
        font-family: var(--fonte);
        color: #8C52FF;
        font-weight: 700;
        font-size: 1.4em;
    }
    
    #welcome p {
        font-family: var(--fonte);
        text-align: justify;
        font-size: 0.9em;
    }
}