@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: scroll;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --fonte: 'Poppins', sans-serif;
}

.quiz_questions {
    width: 375px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 10px;
    border: 5px solid #3f2474;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    overflow: hidden;
}

.quiz_questions.show {
    visibility: visible;
}

#question {
    font-family: var(--fonte);
    color: #5E17EB;
    position: absolute;
    top: 10%;
    text-align: center;
}

#quizz_ul {
    margin-left: 10px;
    list-style: none;
}

#quizz_ul li {
    font-family: var(--fonte);
    font-size: 0.85em;   
    margin: 10px;
}

#quiz_questions button{
    width: 100%;
    height: 10%;
    background-color: #5E17EB;
    border: none;
    font-family: var(--fonte);
    font-weight: 700;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 90%;
}

#warning {
    width: 100vw;
    height: 5vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#warning_text {
    font-family: var(--fonte);
    font-size: 0.9em;
}

#warning_link {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
}

/*Header*/
header {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8C52FF;
}

#header_text {
    color: white;
    font-family: var(--fonte);
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
}

main {
    width: 100vw;
    height: 80vh;
    display: flex;
}

/*Sidebar*/
#sidebar {
    min-width: 200px;
    height: 80vh;
    padding-top: 20px;
    background-color: #8C52FF;
}

#sidebar_text {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte);
    font-size: 1em;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px #3f2474;
}

#sidebar_ul {
    margin-top: 20px;
}

#sidebar_ul li {
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1.5px white;
}

#sidebar_ul li:hover{
    background-color: #3f2474;
}

.sidebar_content {
    text-decoration: none;
    font-family: var(--fonte);
    color: white;
    font-weight: 700;
}

.sidebar_picture_container {
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.sidebar_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sidebar_arrow {
    width: 25px;
    height: 30px;
    overflow: hidden;
    position: relative;
    left: 100%;
    top: -40%;
    display: none;
    cursor: pointer;
}

#sidebar_arrow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Content*/
#content_container {
    width: 100%;
    height: 80vh;
}

#quizz_btn_container {
    width: 100%;
    height: 50px;
}

#quizz_btn {
    width: 100px;
    height: 35px;
    position: relative;
    top: 7.5px;
    left: 85%;
    font-family: var(--fonte);
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid #5E17EB;
    background-color: transparent;
}

#quizz_btn:hover {
    color: white;
    transition: 0.5s;
    background-color: #5E17EB;
    border-color: #3f2474;
}

#content {
    max-width: 900px;
    min-width: 250px;
    height: fit-content;
    position: relative;
    left: 10%;
    top: 50px;
    padding: 20px;
    text-align: justify;
    line-height: 20px;
}

#reference {
    font-weight: 700; 
    margin-bottom: 20px;
}

#content h3 {
    margin-bottom: 20px;
    font-family: var(--fonte);
    font-weight: 700;
    color: #5E17EB;
}

#content p {
    font-family: var(--fonte);
}

@media (max-width: 700px){
    .sidebar {
        transform: translateX(-100%);
        z-index: 1;
        transition: 0.5s;
    }

    .sidebar_show {
        transform: translateX(0%);
    }

    #sidebar_arrow {
        display: block;
    }
    
    #sidebar_arrow img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #quizz_btn_container {
        width: 100%;
        height: 50px;
    }

    #quizz_btn {
        left: 40%;
    }

    #content {
        width: 400px;
        left: -40%;
    }
    
    #content h3 {
        font-size: 1.1em;
    }
    
    .content_ul li {
        font-size: 0.9em;
    }
    
    #content p {
        font-size: 0.9em;
    }
}